body{
    background-color: cornflowerblue;
}
.Example{
    display: flex;
}
.image{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.image{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}