body{
    background-color: cornflowerblue;
}
.Example{
    display: flex;
}
.image{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.image{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.image{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    background-attachment: fixed;
}
img{
    margin-left: 50px;
    max-height: 50%;
    background-position: left;
}
text{
    text-align: start;
    display: inline-block;
    background-size: auto;
    padding-left: 30%;
}